body {
  background-color: white;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/img/full-screen-image-3.jpg');
  z-index: 1;
  display: block;
}
.overlay-hero {
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: block;
  position: absolute;
  background: #0ec8e0;
  opacity: 0.8;
}
.login-panel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.login-panel h2, .login-panel h4 {
  text-align: center;
}